*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

/* :root {
	--hue-neutral: 200;
	--hue-wrong: 0;
	--hue-correct: black;
	
} */

body {
	padding: 0;
	margin: 0;
	display: flex;
	width: 100vw;
	justify-content: central;
	align-items: central;
	background: rgb(126, 126, 126);
}

body.wrong {
	--hue: var(--hue-wrong);
}

.title-quiz {
	color: #fff;
}

.container {
	width: 90%;
	max-width: 90%;
	margin: 0 auto;
	text-align: center;
	background: rgb(51, 51, 51);
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0 0 10px 2px;
}

.question {
	-webkit-box-shadow: inset 0px 1px 40px 2px rgba(5, 5, 5, 1);
	-moz-box-shadow: inset 0px 1px 40px 2px rgba(5, 5, 5, 1);
	box-shadow: inset 0px 1px 40px 2px rgba(5, 5, 5, 1);
	background-color: rgb(85, 85, 85);
	color: #fff;
	padding: 15px;
	font-weight: 600;
	font-size: x-large;
	margin-bottom: 30px;
	border-radius: 5px;
	border: 1px solid black;
}

.options {
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 10px;
	margin: 2px 0;
}

.btn {
	border: 1px solid black;

	background: black;
	color: blanchedalmond;
	border-radius: 5px;
	padding: 15px 10px;
	-webkit-box-shadow: inset 0px 1px 40px 2px rgba(0, 174, 255, 1);
	-moz-box-shadow: inset 0px 1px 40px 2px rgba(0, 174, 255, 1);
	box-shadow: inset 0px 1px 40px 2px rgba(0, 174, 255, 1);
	cursor: pointer;
	padding: 10px;
	font-size: large;
}

.btn:hover {
	border-color: rgb(0, 0, 0);
}

.btn.correct {
	-webkit-box-shadow: inset 0px 1px 40px 2px rgba(46, 214, 4, 0.5);
	-moz-box-shadow: inset 0px 1px 40px 2px rgba(46, 214, 4, 0.5);
	box-shadow: inset 0px 1px 40px 2px rgba(46, 214, 4, 0.5);

	color: rgb(252, 253, 251);
}

.btn.wrong {
	-webkit-box-shadow: inset 0px 1px 40px 2px rgba(255, 0, 0, 1);
	-moz-box-shadow: inset 0px 1px 40px 2px rgba(255, 0, 0, 1);
	box-shadow: inset 0px 1px 40px 2px rgba(255, 0, 0, 1);
	/* --hue: var(--hue-wrong); */
}

.start-btn,
.next-btn {
	-webkit-box-shadow: inset 0px 1px 40px 2px rgba(0, 174, 255, 1);
	-moz-box-shadow: inset 0px 1px 40px 2px rgba(0, 174, 255, 1);
	box-shadow: inset 0px 1px 40px 2px rgba(0, 174, 255, 1);
	font-size: 1.5rem;
	font-weight: bold;
	padding: 10px 20px;
}

.controls {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hide {
	display: none;
}

#timer {
	border-radius: 70%;
	width: 70px;
	height: 70px;
	border: 2px solid grey;
	align-items: center;
	font-weight: 800;
	font-size: 35px;
	color: #fff;
	margin: 0;
	padding: 0;
	color: #fff;
}

.timer {
	display: flex;
	justify-content: flex-start;
	margin: 0;
	padding: 0;
	color: #fff;
}

.score {
	display: flex;
	justify-content: flex-end;
	margin: 0;
	padding: 0;
	color: #fff;
}

#score {
	border-radius: 70%;
	width: 70px;
	height: 70px;
	border: 2px solid grey;
	align-items: center;
	font-weight: 800;
	font-size: 35px;
	color: #fff;
	margin: 0;
	padding: 0;
	color: #fff;
}
#score-display {
	display: flex;
	justify-content: flex-end;
}

.score-timer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#stopWatch,
#score-display {
	display: flex;
	flex-direction: column;
}

.message-box {
	background-color: red;
	padding: 5px;
	margin-bottom: 5px;
	color: #fff;
}

#result {
	background: #fff;
	color: green;
	margin: 0 auto;
	padding: 10px;
}
